/*flexbox */
.flex_section {
  margin-top: 5rem;
}

.grid {
  width:100%;
  margin:auto;
  margin-top:10rem;
  margin-bottom:10rem;
}

.grid__sizer,
.grid__item {
  position: relative;
  width: 19.35%;
  min-width: 18rem;
}

.grid__item {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.grid__item--high,
.grid__item--high img {
  height: 30rem;
}

.grid__item--low,
.grid__item--low img {
  height: 12rem;
}

.grid__item--lowest,
.grid__item--lowest img {
  height: 8rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width:1600px) {
  .grid__sizer,
  .grid__item {
    min-width: 20rem;
  }

  .grid__item--high,
  .grid__item--high img {
    height: 35rem;
  }

  .grid__item--low,
  .grid__item--low img {
    height: 15rem;
  }
}

@media only screen and (max-width:700px) {
  .grid__sizer,
  .grid__item {
    width:100%;
  }

  .grid__item--high,
  .grid__item--high img {
    height: 35rem;
  }

  .grid__item--low,
  .grid__item--low img {
    height: 15rem;
  }
}
