@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* Setting up the page */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

/*style guide css*/
h1.guide_primaryTitle {
  margin-top: 2rem;
}

h2.guide_secondaryTitle {
  margin-top: 2rem;
}

h3.guide_tertiaryTitle {
  margin-top: 1rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4B4B4B;
  margin: 1rem 0;
  padding: 0;
}

/*style guide sections*/
section.heading_section {
  margin-top: 2rem;
}

section.paragraph_section {
  margin-top: 2rem;
}

/*containers*/
.page_container {
  margin:auto;
  width:80%;
	height:auto;
  margin-top:10rem;
}

.navigation_container {
  margin: auto;
  margin-top:2rem;
  margin-bottom:2rem;
  position:fixed;
  top:0;
  left:2.5rem;
	z-index: 700;
}

/*heading styles*/
h1 {
  font-size: 1.3rem;
  color: #4B4B4B;
}

h2 {
  font-size: 0.9rem;
  font-weight:500;
  color: #4B4B4B;
}

h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7e7e7e;
}

h4 {
	font-size: 0.7rem;
	font-weight: 500;
	color: #4B4B4B;
}

h5 {
	font-size: 0.7rem;
  font-weight:500;
  color: #7e7e7e;
}

/*paragraph styles*/
p {
  font-size:0.8rem;
  color: #4B4B4B;
}

/*button style*/
button {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #4B4B4B;
  position: relative;
  cursor: pointer;
}

button::after {
  content: '';
  width: 0;
  height: 2px;
  background: #4B4B4B;
  display: block;
  position: relative;
  left: 0;
  transform: translateX(0);
  transition: width 0.2s 0.1s ease-in-out;
}

button:hover::after {
  width: 100%;
}

/*navigation bar*/
a {
  text-decoration: none;
}

svg {
  position:fixed;
  letter-spacing: 0.15em;
  height:2rem;
  width: 3rem;
}

svg text {
  fill: #4B4B4B;
  stroke: #4B4B4B;
  fill-opacity: 1;
  font-size: 1.3rem;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 2s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 0.3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 0.3px;
  }
  100% {
    stroke-width: 0;
  }
}

/*menu*/
.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.reveal {
	opacity: .85;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 5rem;
	height: 5rem;
	overflow: auto;
	left: calc(100% - 3.3rem);
	top: 1.7rem;
  cursor:pointer;
}

.top, .middle{
	position: absolute;
	width: 2rem;
	height: 0.1rem;
	background-color: #4B4B4B;
	transition: all 350ms ease-in-out;
	top: 0.8rem;
}

.middle {
	top: 1.7rem;
}

#menu {
	position: fixed;
	left: calc(100% - 20rem);
	color: black;
	display: none;
	margin: 10rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	padding: 24px;
	width: 15rem;
	text-align: right;
  z-index: 1;
}

#menu li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
  z-index: 600;
}

#menu li a {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	list-style: none;
	transition: all 150ms ease;
  color: #4B4B4B;
  -webkit-transition: color 1s; /* Safari */
  transition: color 1s;
  z-index: 600;
}

#menu li a:hover {
	color: #7e7e7e;
	padding-right: 0.3rem;
  z-index: 600;
}

#menu li a:hover:after {
}

/* #menu li a {
	text-decoration: none;
  z-index: 600;
} */

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 1rem;
	background-color: black;
	height: 2px;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
  z-index: 2;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 1rem;
	background-color: black;
	height: 2px;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
  z-index: 2;
}

.top {
	-webkit-animation-delay: 100ms;
}

.middle {
	-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.nav_img {
  width:50vw;
  height:100%;
  min-width:50rem;
  opacity:1;
  -webkit-transition: opacity 2s; /* Safari */
  transition: opacity 2s;
  z-index: 2;
}

.nav_imgbg {
  width: 50%;
  height:100%;
  min-width: 50rem;
  background-color: #000;
}

/*flexbox */
.flex_container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
}

.flex_container > div:first-child
{
    flex: 0 1 100%;
    margin-left: 0;
    margin-right: 0;
}

.flex_container > div:last-child
{
    margin-right:0;
}

.flex_item_full {
  flex:1;
  min-width:20rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.img_box_full {
	width:100%;
	height:auto;
	overflow: hidden;
}

.img_box_full img {
  width:100%;
  height:auto;
	-moz-transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

.img_box_full img:hover {
	transform:scale(1.2);
	-moz-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

.flex_item_big {
  flex:2;
	height:auto;
  min-width:30rem;
  margin-right:5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
	overflow: hidden;
	opacity:0;
}

.img_box_big {
	width:100%;
	overflow: hidden;
	height:30rem;
}

.img_box_big img {
  width:auto;
  height:110%;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.img_box_big img:hover {
	transform:scale(1.2);
	-moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.flex_item_small {
  flex:1;
	height:auto;
  min-width:20rem;
  margin-right:5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
	overflow: hidden;
	opacity:0;
}

.img_box_small {
	width:100%;
	height:30rem;
	overflow: hidden;
	-moz-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

.img_small {
	content:url("../img/blobby2.jpg");
	height:30rem;
	-moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.img_small:hover {
	transform:scale(1.2);
	-moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.img_box_small img {
  width:auto;
	height:100%;
	-moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.img_box_small img:hover {
	transform:scale(1.2);
	-moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}


.flex_container_2 {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
}

.flex_text {
	flex:1;
	margin-top: 1rem;
	min-width: 20rem;
}

.flex_text h4:hover {
	color:#7e7e7e;
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	transition: color 1s;
}

/*rolling text*/
.wrapper {
  padding: 0;
  display: block;
  margin: 0 auto;
}

.roles {
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 30px;
    -webkit-transition: margin-top 1s ease-in-out;
    transition: margin-top 1s ease-in-out;
}

/*scrolling effect*/
.noScroll {
  position:fixed;
	top:0;
  width:100%;
  height:5rem;
	z-index: 200;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.scroll {
  position:fixed;
  background-color:#fff;
  width:100%;
	top:0;
  height:5rem;
	z-index: 200;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}


/*process image*/
.guide_processimg {
  width:20rem;
  height:auto;
}

/*footer*/
footer {
	display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
	background-color: #f1f1f1;
}

.footer_left {
	flex:1;
	min-width: 20rem;
	height:50vh;
	background-color: #7e7e7e;
	margin:auto;
	text-align: center;
}

.footer_left h1 {
	margin-top: 10rem;
	font-size: 2rem;
	color:white;
}

ul {
    padding:0;
    list-style: none;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #7e7e7e;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #7e7e7e;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #7e7e7e;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.footer_right {
	flex:1;
	height:50vh;
	min-width: 20rem;
	/* background-color: white; */
	text-align: center;
	margin:auto;
}

.footer_right h1 {
	margin-top: 10rem;
}


/*video*/
.video {
	width:100%;
	height:400px;
}

@media only screen and (max-width: 1180px) {
  .nav_img {
    width:100%;
    height:100%;
    opacity: 0.2;
		z-index: -5;
    -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
  }

	.nav_imgbg {
		z-index: -5;
	}

	.rotate {
		color: white;
		-webkit-transition: background-color 1s; /* Safari */
		transition: background-color 1s;
		z-index: 100;
	}

	.rotate-back {
		color: white;
	  -webkit-transition: background-color 1s; /* Safari */
	  transition: background-color 1s;
		z-index: 100;
	}

	.reveal {
		z-index:-1;
	}

  .nav_imgbg {
    width: 100%;
    height:100%;
  }

  #menu li a {
    color: white;
    border-bottom: 1px solid white;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
  }

	#menu li {
		border-bottom: 1px solid white;
	}

	#menu {
		left: calc(100% - 17rem);
	}

  .rotate {
  	background-color: white;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
  }

  .rotate-back {
  	background-color: white;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
  }

	svg {
		left:1rem;
	}

	.flex_item_full {
		min-width: 100%;
	}

	.flex_item_big {
	  margin-right:0;
		min-width: 100%;
	}

	.flex_item_small {
		min-width: 100%;
		margin-right: 0;
	}

	.img_small {
		content:url("../img/blobby3.jpg");
		width:100%;
		height:auto;
		-moz-transition: transform 1s;
	  -webkit-transition: transform 1s;
	  transition: transform 1s;
	}

	.flex_item_full img {
		height:auto;
	}

	.img_box_full {
		height:auto;
	}

	.img_box_big {
		height:auto;
	}

	.img_box_small {
		height:auto;
	}

	.img_box_big img {
	  width:100%;
		height:auto;
	}

	.img_box_small img {
		width:100%;
		height:auto;
		margin-top: -13rem;
	}


}

/* @media only screen and (max-width:900px) {

	.flex_item_full img {
		height:20rem;
	}

	.img_box_big {
		height:auto;
	}

	.img_box_small {
		height:20rem;
	}

	.img_box_big img {
	  width:100%;
		height:20rem;
	}

	.img_box_small img {
		width:100%;
		height:60rem;
		margin-top:-18rem;
	}
}

@media only screen and (max-width:600px) {
  .page_container {
    width:90%;
  }

	.img_box_full img {
	  height:15rem;
	}

	.img_box_big img {
		height:15rem;
	}

	.img_box_small {
		height:15rem;
	}

	.img_box_small img {
		height:30rem;
		margin-top:-6rem;
	}
} */

@media only screen and (min-width:1600px) {
	.img_box_big img {
		width:100%;
		height:100%;
	}

	.img_box_big {
		width:100%;
		height:40rem;
	}

	.img_box_small {
		width:100%;
		height:40rem;
	}

	.img_small {
		width:100%;
		height:100%;
	}

	.page_container {
		width:70%;
	}

	/* .img_box_full img {
	  height:15rem;
	}

	.img_box_big img {
		height:15rem;
	}

	.img_box_small {
		height:15rem;
	}

	.img_box_small img {
		height:30rem;
		margin-top:-6rem;
	} */
	.flex_text {
		min-width: 25rem;
	}
}
